body {
  transition: filter 500ms;
}

body:not(.going-through-list) {
  filter: grayscale(1);
}

.App {
  text-align: center;
}

.idleAnimation {
  height: 40vmin;
  pointer-events: none;
  opacity: 0.8;
  position: fixed;
  transition: all 200ms;
  transform: scale(1) translate(0, 0);
  z-index: -1;
}

.notification {
  font-size: 2em;
  font-weight: 800;
  font-family: "acumin-pro-condensed", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.App-logo {
  transition: all 500ms, filter 100ms;
  height: 40vmin;
  transform: scale(1);
}

@media (prefers-reduced-motion: no-preference) {
  .idleAnimation.waiting {
    animation: breathing infinite 20s ease-in-out;
    filter: grayscale(1);
  }

  .App-logo.fire {
    transform: scale(1.1);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  z-index: 0;
}

small {
  font-size: calc(8px + 1vmin);
  font-weight: 200;
}

.inline-button {
  background: none;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.inline-button:hover,
.inline-button:active,
.inline-button:focus {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes breathing {

  0%,
  100% {
    transform: translate(0, 0);
  }


  25% {
    transform: translate(-1vmin, 2vmin);
  }

  45% {
    transform: translate(-2vmin, 5vmin);
  }


  50% {
    transform: translate(-1vmin, 1vmin);
  }


  75% {
    transform: translate(-1vmin, -2vmin);
  }
}